@import "tailwindcss";

@theme {
  --Orange: hsl(25, 97%, 53%);
  --White: hsl(0, 0%, 100%);
  --light: hsla(0, 0%, 33%, 0.244);
  --Light-Grey: hsl(217, 12%, 63%);
  --Dark-Blue: hsl(213, 19%, 18%);
  --Very-Dark-Blue: hsl(216, 12%, 8%);
}

* {
  @apply p-0 m-0 box-border;
}

html {
  @apply text-[62.5%];
}

body {
  @apply font-sans text-2xl h-screen bg-[var(--Very-Dark-Blue)] flex items-center justify-center;
}

.card {
  @apply w-[40rem] bg-[var(--Dark-Blue)] p-[3rem] rounded-3xl;
}

.icon {
  @apply bg-[light] mb-[4rem] w-[5rem] h-[5rem] rounded-[50%] flex items-center justify-center bg-[var(--light)];
}

.card-header {
  @apply text-[White] text-[2.5rem] mb-[1rem] font-bold;
}

.card-paragraph {
  @apply text-[LightGrey] mb-[2.5rem] leading-[1.7];
}

.numbers {
  @apply flex justify-evenly items-center;
}

.number {
  @apply text-[LightGrey] bg-[var(--light)] border-0 inline-block w-[5rem] h-[5rem] rounded-[50%] mb-[5rem] font-bold hover:bg-[White] hover:text-[hsl(216,12%,8%)] hover:cursor-pointer;
}

.number--highlighted {
  @apply text-[DarkBlue] bg-[Orange] hover:text-[DarkBlue] hover:bg-[Orange];
}

.card-button {
  @apply w-[100%] uppercase font-bold p-[1.5rem] rounded-[10rem] text-[hsl(216,12%,8%)] bg-[Orange] tracking-[0.1rem] border-[.3rem] border-solid border-black hover:bg-[var(--White)] hover:cursor-pointer;
}

.thank-you__card {
  @apply flex flex-col justify-center items-center w-[40rem] bg-[var(--Dark-Blue)] p-[3rem] rounded-[3rem];
}

.illustration {
  @apply p-[1rem];
}

.number-selected__para {
  @apply text-[Orange] bg-[light] pt-[0.5rem] pb-[0.5rem] pl-[2rem] pr-[2rem] rounded-[10rem] m-[2rem];
}

.heading {
  @apply text-[White] m-[1rem] text-[2.5rem];
}

.feedback-message {
  @apply text-[LightGrey] text-center leading-[1.7] p-[.5rem];
}

.back {
  @apply bg-[Orange] bg-[hsl(216,12%,8%)] hover:bg-[Orange] hover:text-[hsl(216,12%,8%)];
}